
*
{
  outline: 0; padding: 0; margin: 0; border: 0;
}
.header_container{
  width: 100%;
  min-height: 1044px;
  background: url(/assets/58.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}