@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*
{
  outline: 0; padding: 0; margin: 0; border: 0;
}
.app_wrapper{

}
.app_header_container{
  width: 100%;
  height: 1044px;
  background: url(/assets/55.jpg);
  background-repeat: no-repeat;
  background-size: cover;


}
.app_myInfo_container{
  width: 100%;
  height: 1044px;
  background-color:white;
  background-repeat: no-repeat;
  background-size: cover;
}