@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


.home{
  display: flex;
  flex-direction: row;
  justify-content: center;
  //border: 1px solid red;
}
.home_logo{
  display: flex;
  flex-direction: row;
}
.home_myPhoto{
 margin-top: 100px;
  margin-left:100px;


}
.home_myPhoto img{


  //clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  //border-top-left-radius: 500px;
  //border-bottom-right-radius: 100px;

}
@keyframes move {
  from{
    opacity: 0;
    margin-top:-300px;
  }
  to{
    opacity: 1;
    margin-bottom: 0px;
  }

}


.animation{
  animation-name: move;
  animation-duration: 3s;
}
.home_myPhoto img{
  min-width:750px;



}
.home_container__logotype{
  //border: 1px solid red;
  display: flex;
  margin-top: 100px;
  margin-right: 200px;
  align-self: center;


}
.home_container img{
  width: 50%;

}
.home_name{


}
.home_lastName__h1 {
  position: relative;
  font-size: 120px;
  font-weight:normal;
  color: #FFFFFF;
  //color:aqua;

}
.home_firstName__h1{

  //border: 1px solid red;
  position: absolute;
  font-size: 120px;
  font-weight:normal;
  color: #FFFFFF;
  line-height: 50px;
  margin-left: 200px;
  //color:aqua;
}
.home_name__h2{
  position: absolute;
  margin-top:27px;
  margin-left: 250px;
  font-size: 36px;
  font-weight:lighter;
  color: #FFFFFF;
//color:aqua;

}
.line{
  width: 85px;
  border-top: 10px solid white;
  margin-top: 85px;
}